/* ~~~~~~~~~~ General ~~~~~~~~~~ */
* {
    font-family: 'Playpen Sans', cursive;
}

body {
    padding: 1em 5em 10em;
    background-color: gray;
    color: white;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: gray;
    color: white;
}

button {
    padding: 5px 8px;
    font-size: 1.25em;
    background-color: black;
    color: greenyellow;
}

button:hover {
    cursor: pointer;
}

/* Opening Text */
#game-text-intro {
    text-align: center;
}

/* Start btn */
#random-code-btn {
    display: block;
    margin: auto;    
}

/* Attempts Text */
#player-attempts-text {
    display: none;
}

/* Read Note */
#read-note-container {
    display: none;
}

/* Player Zone */
#player-display-screen {
    width: 200px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    background-color: #eee;
    color: black;
    margin: auto;
    margin-bottom: 10px;
}

#player-guess-input {
    display: none;
    margin: 10px auto;
}

.player-input-box {
    height: 150px;
    width: 100px;
    font-size: 32px;
}

#player-guess-btn {
    display: none;
    margin: 15px auto;  
}

/* Secret Code */
#secret-code-container .secret_code_number {
    display: inline;
}

/* Play Again Area */
#play-again-btn {
    display: none;
    margin: auto;
}