/* ~~~~~~~~~~ General ~~~~~~~~~~ */
* {
    font-family: 'Playpen Sans', cursive;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 36px;
}

h5 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

.text-center {
    text-align: center;
}

button {
    padding: 5px 8px;
    font-size: 18px;
    background-color: black;
    color: greenyellow;
}

button:hover {
    cursor: pointer;
}

/* Opening Text */
#game-desc {
    text-align: center;
}

/* Start btn */
#random-code-btn {
    display: block;
    margin: auto;    
}

/* Attempts Text */
#player-guess-text {
    display: none;
}

/* Player Zone */
#player-guess-btn {
    display: none;
    margin: 15px auto;  
}

/* Secret Code */
#secret-code-container .secret_code_number {
    display: inline;
}